.card {
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  height: 14rem;
  width: 100%;
  object-fit: cover;
}

.textContainer {
  padding: 1.5rem;
  color: #374151;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name {
  margin: 0 0 8px;
  color: #1f2937;
  font-family: 'Futura PT Medium';
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.description {
  margin: 0 0 16px;
  color: #4b5563;
  font-family: 'Futura PT Light';
  font-size: 16px;
  font-weight: 400;
}

.orderContainer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin: 0;
  color: #1f2937;
  font-family: 'Futura PT Medium';
  font-size: 22px;
  line-height: 1.25;
}

.buttonContainer {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 0.6rem 1rem;
}

.quantity {
  margin: 0 10px;
  color: #1f2937;
  font-family: 'Futura PT Medium';
  font-size: 22px;
  line-height: 1.25;
}
