@keyframes slideOut {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.product {
  margin-bottom: 18px;
  padding: 1rem 1.5rem;
  box-shadow:
    0 2px 10px rgba(0, 0, 0, 0.08),
    0 1px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:
    box-shadow 0.2s ease-in,
    transform 0.7s ease,
    opacity 0.7s ease;
}

.removing {
  transform: translateX(70%);
  opacity: 0;
  pointer-events: none;
}

.product:hover {
  box-shadow:
    0 4px 15px rgba(0, 0, 0, 0.12),
    0 3px 8px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.image {
  margin-right: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin: 0;
  color: #1f2937;
  font-family: 'Futura PT Medium';
  font-size: 1.5rem;
}

.span {
  margin: 0;
  color: #4b5563;
  font-family: 'Futura PT Medium';
  font-size: 1.2rem;
}

.price {
  margin: 0;
  margin-left: 12px;
  color: #1f2937;
  font-family: 'Futura PT Medium';
  font-size: 1.5rem;
}

.button {
  margin-left: 8px;
  padding: 0 1rem;
  height: 30px;
  border-color: #1f2937;
  color: #4b5563;
}

.button:hover {
  background-color: #1f2937;
  color: #fff;
}
