.label {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Futura PT Light';
}

.input {
  margin: 0 0 4px;
  padding: 4px 8px;
  text-align: start;
  font-family: 'Futura PT Light';
  font-size: 1.2rem;
  line-height: 2rem;
}

.span {
  visibility: visible;
  margin: 0 0 4px;
  color: rgb(216, 58, 58);
  text-align: start;
  font-size: 1rem;
}

.spanHidden {
  visibility: hidden;
  margin: 0 0 4px;
  color: rgb(216, 58, 58);
  text-align: start;
  font-size: 1rem;
}
