.preloader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0;
  text-align: center;
  color: rgb(31 41 55);
  font-family: 'Futura PT Demi';
  font-size: 2rem;
  line-height: 2.25rem;
}
