.header {
  background-color: #fff;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  font-family: 'Literata';
}

.container {
  margin: 0 auto;
  height: 10vh;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.link {
  height: 100%;
  box-sizing: border-box;
}

.image {
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  margin-left: 12px;
  color: #374151;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button:hover {
  color: #10b91d;
}
